.about {
  /* opacity: 0; */
  /* position: relative; */
}

.body {
  display: inline-block;
  padding: 1.5rem;
  border: 1px solid var(--charleston-green);
  box-shadow: -10px 10px 1px var(--davys-grey);
  margin-top: 10rem;
  margin-bottom: 25rem;
  line-height: 1.6;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  letter-spacing: 4px;
}

.createText,
.useText {
  font-size: 1.5rem;
  font-weight: 400;
}

.loadScreen {
  position: absolute;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: var(--gunmetal);
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
}
