.footer {
  background-color: var(--charleston-green);
  color: var(--light-gray);
  padding: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.socials {
  margin-top: 1rem;
}
.socials a {
  font-size: 1.2rem;
}

.socials > * + * {
  margin-left: 8px;
}

.acknwl {
  margin-top: 1rem;
}

.acknwl a {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .socials > * + * {
    margin-left: 1.5rem;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-grid > * + * {
    margin-top: 0;
  }
  .acknwl {
    margin-top: 0;
  }
}
