.container {
  background-color: white;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.loadScreen {
  position: absolute;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: var(--gunmetal);
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  z-index: 45;
}
